# pdf files
*.pdf

# graphic files
*.jpeg
*.jpg

# excel files
*.xlsx

# osx files
.DS_Store

# cache files
/samplefit/__pycache__/
*.pyc
.ipynb_checkpoints

# exclude data from tox
/.tox/*
/samplefit.egg-info/*
MANIFEST

# exclude dist files
dist/

# exclude replication results files, but keep the folders
# replication results
/replication/results/**
!/replication/results/**/
!/replication/results/**/.gitkeep
# replication figures
/replication/figures/**
!/replication/figures/**/
!/replication/figures/**/.gitkeep

# exclude html files
html/

# exclude large datasets
*.Rdata
*.dta

