# pdf files
*.pdf

# graphic files
*.jpeg
*.jpg

# excel files
*.xlsx

# osx files
.DS_Store

# cache files
/samplefit/__pycache__/
*.pyc
.ipynb_checkpoints

# exclude data from tox
/.tox/*
/samplefit.egg-info/*
MANIFEST

# exclude dist files
dist/

# exclude replication and testing files
replication/

# exclude data and html files
data/
html/